*, html {
  margin: 0 auto;
  padding 0;
}

body {
  width: 1000px;
	font-family: arial, "arial black";
	font-size: 1.4em;
  background: #ffffff;
}

.header {
  font-size: 20px;
  height: 100px;
  margin-bottom: 30px;
  background: #ffffff;
}
.logo {
  width: 220px;
  height: 100px;
  float: left;
  font-size: 2em;
  border: 0px;
}

.wrapper {
  width: 1000px;
  height: 800px;
  background: #ffffff;
}
.nav_links {
  padding: 55px 0 0 250px;
}
.nav_links a {
  text-decoration: none;
  color: #3399cc;
}
.nav_links a:hover {
  color: white;
  background: #3399cc;
}

.left-side {
  float: left;
}
.right-side {
  float: left;
}

#block-friends {
  width: 250px;
  min-height: 500px;
  margin: 20px;
  border: 1px solid #000;
}
.friends-search {
  padding: 5px;
}

.friend-item {
  height: 70px;
  padding: 0 5px;
}
.focused {
  background: #CCFFCC;
}

.lightbox {
  position: relative;
  background: white;
  border: 5px solid black;
  width: 400px;
  height: 200px;
  left: 200px;
  z-index: 10;
}

#block-my-info {
  margin: 20px;
  width: 600px;
  min-height: 220px;
  border: 1px solid #000;
}

.user_pic {
  float: left;
  padding: 5px;
}

#block-my-cel {
  margin: 20px;
  width: 600px;
  height: 120px;
  border: 1px solid #000;
}
