*, html {
  margin: 0 auto;
  padding 0;
}

body {
  width: 1000px;
	font-family: arial, "arial black";
	font-size: 1.4em;
  background: #ffffff;
}

.header {
  font-size: 20px;
  height: 100px;
  margin-bottom: 30px;
  background: #ffffff;
}
.logo {
  width: 220px;
  height: 100px;
  float: left;
  font-size: 2em;
  border: 0px;
}
.topbar {
  padding: 20px 0 0 250px;
  line-height: 30px;
}
.topbar input {
  height: 20px;
}

.wrapper {
  width: 1000px;
  height: 1000px;
  background: #ffffff;
}

#stream {
  height: 300px;
  overflow: hidden;
}

#content {
  width:  800px;
  height: 1000px;
  float: left;
}
#sidebar {
  width: 200px;
  height: 1000px;
}
#sidebar .nav_link {
  margin: 0 0 30px 0;
}
.nav_link a {
  padding: 2px;
  text-decoration: none;
  color: #3399cc;
}
.nav_link a:hover {
  color: white;
  background: #3399cc;
}
.resolution {
  background-image: url('images/textbox.jpg');
  background-repeat: none;
  width: 700px;
  height: 100px;
}

.cel {
  margin: 0 0 10px 15px;
  font-size: 1em;
  
}
.cel .res_until {
  font-size: 12px;
}
