*, html {
  margin: 0 auto;
  padding 0;
}

body {
  width: 1000px;
	font-family: arial, "arial black";
	font-size: 1.4em;
  background: #ffffff;
}

.header {
  font-size: 20px;
  height: 100px;
  margin-bottom: 30px;
  background: #ffffff;
}
.logo {
  width: 220px;
  height: 100px;
  float: left;
  font-size: 2em;
  border: 0px;
}
.logo img {
  border: 0px;
}

input[type=text] {
  color: gray;
}
#user-status-box {
  color: black;
}
.wrapper {
  width: 1000px;
  height: 800px;
  background: #ffffff;
}

#system-message {
  height: 20px;
  font-size: 20;
}

.nav_links {
  padding: 55px 0 0 250px;
}
.nav_links a {
  text-decoration: none;
  color: #3399cc;
}
.nav_links a:hover {
  color: white;
  background: #3399cc;
}

.left-side {
  float: left;
  border-right: 1px dotted black;
}
.right-side {
  float: left;
}

#block-goals {
  width: 250px;
  min-height: 500px;
  margin: 20px;
}
.goal-search {
  padding: 5px;
}

.goal-item {
  padding: 0 5px 10px 5px;
}
.goal-item .goal-num-following {
  display: inline;
  font-size: 14px;
  padding: 0px 2px;
}
.goal-item .goal-link {
  display: inline;
}
.goal-item .goal-link a {
  color: #3399cc;
  font-size: 16px;
  padding: 0px 2px;
  text-decoration: none;
}
.goal-item .goal-link a:hover {
  text-decoration: underline;
}

#goal-participants-box {
  display: inline;
}
.focused {
  background: #DDFFEE;
}
.friend-name {

}

.lightbox {
  position: relative;
  background: white;
  border: 5px solid black;
  width: 400px;
  left: 200px;
  z-index: 10;
  padding: 10px;
}

.autocomplete {
  position: relative;
  background: white;
  border: 1px solid black;
  z-index: 20;
}
.selected-friends {
  display: inline;
}

#block-my-info {
  margin: 20px;
  width: 600px;
  min-height: 120px;
  border-bottom: 1px dotted black;
}

.user_pic {
  float: left;
  padding: 5px;
}

#block-content {
  margin: 20px;
  width: 600px;
  min-height: 120px;
  //border: 1px solid #000;
  font-size: 14px;
}
#block-content .title {
  font-size: 20px;
  padding: 10px 5px;
  text-align: center;
}

.my-goal-item {
  padding: 5px;
}

.my-goal-text {
  font-weight: bold;
}
.my-goal-links a{
  padding: 0px 5px;
  text-decoration: none;
  color: #3399cc;
}
.my-goal-links a:hover {
  text-decoration: underline;
}
.top-friend-item {
  padding: 5px;
}
.top-friend-name {
  display: inline;
  font-weight: bold;
}
.top-friend-num {
  display: inline;
  padding: 10px;
}

#vis-table {
  border-collapse: collapse;
  width: 100%;
}
#vis-table td {
  border-bottom: 1px blue dotted;
  padding: 0 10px;
}
#vis-table th {
  border-bottom: 1px blue dotted;
  padding: 0 10px;
  text-align: left;
}
#vis-table th:hover {
  text-decoration: underline;
}

.succeed {
  background: url('../images/succeed.png');
  width: 40px;
  height: 40px;
}
.failed {
  background: url('../images/failed.png');
  width: 40px;
  height: 40px;
