body {
	font-family: arial, "arial black";
}

input[type=text] {
  color: gray;
}
.friend-item {
}

.friend-pic {
  float:left;
}
.friend-name {
  padding: 10px;
}
.user-pic {
  float: left;
  padding: 5px;
}

.my-goal-item {
  border-bottom: 1px #555555 dotted;
  padding: 5px;
}
.my-goal-item .participants { 
  display: inline;
  font-weight: bold;
}

.my-goal-item .my-goal-text {
  display: inline;
  font-style: italic;
}
.pending {
  background: rgb(240,240,255);
}

.active {
  background: rgb(255,240,240);
}

#fb-longin-button {
  float: right;
}

.facebook {
  background: url('../images/facebook-icon.png');

}

